@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

body {
  background: url("../images/stardusthubble.jpg") no-repeat center top;
  background-size: cover;
  height: 100%;
  color: #eeeeee;
  text-shadow:
    0px 0px 2px #3c4c5c,
    -2px -2px 2px #3c4c5c,
    2px -2px 2px #3c4c5c,
    -2px 2px 2px #3c4c5c,
    2px 2px 2px #3c4c5c;
}

a {
  font-size: 22px;
  margin-left: 100px;
  margin-right: 100px;
  font-weight: normal;
}

a:visited {
  color: #bbbbbb;
}

a:hover {
  font-weight: bold;
  text-decoration: none;
}

h1, footer {
  vertical-align: middle;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

h1 {
  font-size: 64px;
}

.nav-item {
  font-size: 22px;
}

footer {
  font-size: 24px;
}

.menuEntrees table {
  width=100%;
  border-spacing: 70px;
  border-collapse: separate;
}

.menuBeverages table {
  background:rgba(23,24,43,0.44);
  margin: 0px auto;
}

td {
  color: #eeeeee;
  padding: 5px;
  font-size: 20px;
  line-height: 27px;
}

.menuEntrees td {
  background:rgba(23,24,43,0.44);
}

table, tr, td {
  vertical-align: middle;
  text-align: center;
}

tr:nth-child(even) td:nth-child(odd), tr:nth-child(odd) td:nth-child(even) {
}
